doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CTV | Admin Dashboard
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='plugins/jvectormap/jquery-jvectormap-1.2.2.css')
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      header.main-header
        a.logo(href='index2.html')
          span.logo-mini
            b C
            | TV
          span.logo-lg
            b Colombo
            | TV
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.messages-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-envelope-o
                  span.label.label-success 4
                ul.dropdown-menu
                  li.header You have 4 messages
                  li
                    ul.menu
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user2-160x160.jpg', alt='User Image')
                          h4
                            | Support Team
                            small
                              i.fa.fa-clock-o
                              |  5 mins
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user3-128x128.jpg', alt='User Image')
                          h4
                            | AdminLTE Design Team
                            small
                              i.fa.fa-clock-o
                              |  2 hours
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user4-128x128.jpg', alt='User Image')
                          h4
                            | Developers
                            small
                              i.fa.fa-clock-o
                              |  Today
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user3-128x128.jpg', alt='User Image')
                          h4
                            | Sales Department
                            small
                              i.fa.fa-clock-o
                              |  Yesterday
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user4-128x128.jpg', alt='User Image')
                          h4
                            | Reviewers
                            small
                              i.fa.fa-clock-o
                              |  2 days
                          p Why not buy a new awesome theme?
                  li.footer
                    a(href='#') See All Messages
              li.dropdown.notifications-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-bell-o
                  span.label.label-warning 10
                ul.dropdown-menu
                  li.header You have 10 notifications
                  li
                    ul.menu
                      li
                        a(href='#')
                          i.fa.fa-users.text-aqua
                          |  5 new members joined today
                      li
                        a(href='#')
                          i.fa.fa-warning.text-yellow
                          |  Very long description here that may not fit into the page and may cause design problems
                      li
                        a(href='#')
                          i.fa.fa-users.text-red
                          |  5 new members joined
                      li
                        a(href='#')
                          i.fa.fa-shopping-cart.text-green
                          |  25 sales made
                      li
                        a(href='#')
                          i.fa.fa-user.text-red
                          |  You changed your username
                  li.footer
                    a(href='#') View all
              li.dropdown.tasks-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-flag-o
                  span.label.label-danger 9
                ul.dropdown-menu
                  li.header You have 9 tasks
                  li
                    ul.menu
                      li
                        a(href='#')
                          h3
                            | Design some buttons
                            small.pull-right 20%
                          .progress.xs
                            .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 20% Complete
                      li
                        a(href='#')
                          h3
                            | Create a nice theme
                            small.pull-right 40%
                          .progress.xs
                            .progress-bar.progress-bar-green(style='width: 40%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 40% Complete
                      li
                        a(href='#')
                          h3
                            | Some task I need to do
                            small.pull-right 60%
                          .progress.xs
                            .progress-bar.progress-bar-red(style='width: 60%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 60% Complete
                      li
                        a(href='#')
                          h3
                            | Make beautiful transitions
                            small.pull-right 80%
                          .progress.xs
                            .progress-bar.progress-bar-yellow(style='width: 80%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 80% Complete
                  li.footer
                    a(href='#') View all tasks
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src='dist/img/user2-160x160.jpg', alt='User Image')
                  span.hidden-xs Alexander Pierce
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src='dist/img/user2-160x160.jpg', alt='User Image')
                    p
                      | Alexander Pierce - Web Developer
                      small Member since Nov. 2012
                  li.user-body
                    .row
                      .col-xs-4.text-center
                        a(href='#') Followers
                      .col-xs-4.text-center
                        a(href='#') Sales
                      .col-xs-4.text-center
                        a(href='#') Friends
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='#') Sign out
              li
                a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      aside.main-sidebar
        include sidebar.pug
      .content-wrapper
        section.content-header
          h1
            | Dashboard
            small Version 2.0
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Home&nbsp;
            li.active Dashboard
        section.content
          .row
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-aqua
                  i.ion.ion-ios-gear-outline
                .info-box-content
                  span.info-box-text CPU Traffic
                  span.info-box-number
                    | 90
                    small %
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-red
                  i.fa.fa-google-plus
                .info-box-content
                  span.info-box-text Likes
                  span.info-box-number 41,410
            .clearfix.visible-sm-block
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-green
                  i.ion.ion-ios-cart-outline
                .info-box-content
                  span.info-box-text Sales
                  span.info-box-number 760
            .col-md-3.col-sm-6.col-xs-12
              .info-box
                span.info-box-icon.bg-yellow
                  i.ion.ion-ios-people-outline
                .info-box-content
                  span.info-box-text New Members
                  span.info-box-number 2,000
          .row
            .col-md-12
              .box
                .box-header.with-border
                  h3.box-title Monthly Recap Report
                  .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                      i.fa.fa-minus
                    .btn-group
                      button.btn.btn-box-tool.dropdown-toggle(type='button', data-toggle='dropdown')
                        i.fa.fa-wrench
                      ul.dropdown-menu(role='menu')
                        li
                          a(href='#') Action
                        li
                          a(href='#') Another action
                        li
                          a(href='#') Something else here
                        li.divider
                        li
                          a(href='#') Separated link
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                      i.fa.fa-times
                .box-body
                  .row
                    .col-md-8
                      p.text-center
                        strong Sales: 1 Jan, 2014 - 30 Jul, 2014
                      .chart
                        canvas(style='height: 180px;')#salesChart
                    .col-md-4
                      p.text-center
                        strong Goal Completion
                      .progress-group
                        span.progress-text Add Products to Cart
                        span.progress-number
                          b 160
                          | /200
                        .progress.sm
                          .progress-bar.progress-bar-aqua(style='width: 80%')
                      .progress-group
                        span.progress-text Complete Purchase
                        span.progress-number
                          b 310
                          | /400
                        .progress.sm
                          .progress-bar.progress-bar-red(style='width: 80%')
                      .progress-group
                        span.progress-text Visit Premium Page
                        span.progress-number
                          b 480
                          | /800
                        .progress.sm
                          .progress-bar.progress-bar-green(style='width: 80%')
                      .progress-group
                        span.progress-text Send Inquiries
                        span.progress-number
                          b 250
                          | /500
                        .progress.sm
                          .progress-bar.progress-bar-yellow(style='width: 80%')
                .box-footer
                  .row
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-green
                          i.fa.fa-caret-up
                          |  17%
                        h5.description-header $35,210.43
                        span.description-text TOTAL REVENUE
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-yellow
                          i.fa.fa-caret-left
                          |  0%
                        h5.description-header $10,390.90
                        span.description-text TOTAL COST
                    .col-sm-3.col-xs-6
                      .description-block.border-right
                        span.description-percentage.text-green
                          i.fa.fa-caret-up
                          |  20%
                        h5.description-header $24,813.53
                        span.description-text TOTAL PROFIT
                    .col-sm-3.col-xs-6
                      .description-block
                        span.description-percentage.text-red
                          i.fa.fa-caret-down
                          |  18%
                        h5.description-header 1200
                        span.description-text GOAL COMPLETIONS
          .row
            .col-md-8
              .box.box-success
                .box-header.with-border
                  h3.box-title Visitors Report
                  .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                      i.fa.fa-minus
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                      i.fa.fa-times
                .box-body.no-padding
                  .row
                    .col-md-9.col-sm-8
                      .pad
                        #world-map-markers(style='height: 325px;')
                    .col-md-3.col-sm-4
                      .pad.box-pane-right.bg-green(style='min-height: 280px')
                        .description-block.margin-bottom
                          .sparkbar.pad(data-color='#fff') 90,70,90,70,75,80,70
                          h5.description-header 8390
                          span.description-text Visits
                        .description-block.margin-bottom
                          .sparkbar.pad(data-color='#fff') 90,50,90,70,61,83,63
                          h5.description-header 30%
                          span.description-text Referrals
                        .description-block
                          .sparkbar.pad(data-color='#fff') 90,50,90,70,61,83,63
                          h5.description-header 70%
                          span.description-text Organic
              .row
                .col-md-6
                  .box.box-warning.direct-chat.direct-chat-warning
                    .box-header.with-border
                      h3.box-title Direct Chat
                      .box-tools.pull-right
                        span.badge.bg-yellow(data-toggle='tooltip', title='3 New Messages') 3
                        button.btn.btn-box-tool(type='button', data-widget='collapse')
                          i.fa.fa-minus
                        button.btn.btn-box-tool(type='button', data-toggle='tooltip', title='Contacts', data-widget='chat-pane-toggle')
                          i.fa.fa-comments
                        button.btn.btn-box-tool(type='button', data-widget='remove')
                          i.fa.fa-times
                    .box-body
                      .direct-chat-messages
                        .direct-chat-msg
                          .direct-chat-info.clearfix
                            span.direct-chat-name.pull-left Alexander Pierce
                            span.direct-chat-timestamp.pull-right 23 Jan 2:00 pm
                          img.direct-chat-img(src='dist/img/user1-128x128.jpg', alt='message user image')
                          .direct-chat-text  Is this template really for free? That&apos;s unbelievable!
                        .direct-chat-msg.right
                          .direct-chat-info.clearfix
                            span.direct-chat-name.pull-right Sarah Bullock
                            span.direct-chat-timestamp.pull-left 23 Jan 2:05 pm
                          img.direct-chat-img(src='dist/img/user3-128x128.jpg', alt='message user image')
                          .direct-chat-text  You better believe it!
                        .direct-chat-msg
                          .direct-chat-info.clearfix
                            span.direct-chat-name.pull-left Alexander Pierce
                            span.direct-chat-timestamp.pull-right 23 Jan 5:37 pm
                          img.direct-chat-img(src='dist/img/user1-128x128.jpg', alt='message user image')
                          .direct-chat-text  Working with AdminLTE on a great new app! Wanna join?
                        .direct-chat-msg.right
                          .direct-chat-info.clearfix
                            span.direct-chat-name.pull-right Sarah Bullock
                            span.direct-chat-timestamp.pull-left 23 Jan 6:10 pm
                          img.direct-chat-img(src='dist/img/user3-128x128.jpg', alt='message user image')
                          .direct-chat-text  I would love to.
                      .direct-chat-contacts
                        ul.contacts-list
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user1-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | Count Dracula
                                  small.contacts-list-date.pull-right 2/28/2015
                                span.contacts-list-msg How have you been? I was...
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user7-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | Sarah Doe
                                  small.contacts-list-date.pull-right 2/23/2015
                                span.contacts-list-msg I will be waiting for...
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user3-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | Nadia Jolie
                                  small.contacts-list-date.pull-right 2/20/2015
                                span.contacts-list-msg I&apos;ll call you back at...
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user5-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | Nora S. Vans
                                  small.contacts-list-date.pull-right 2/10/2015
                                span.contacts-list-msg Where is your new...
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user6-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | John K.
                                  small.contacts-list-date.pull-right 1/27/2015
                                span.contacts-list-msg Can I take a look at...
                          li
                            a(href='#')
                              img.contacts-list-img(src='dist/img/user8-128x128.jpg', alt='User Image')
                              .contacts-list-info
                                span.contacts-list-name
                                  | Kenneth M.
                                  small.contacts-list-date.pull-right 1/4/2015
                                span.contacts-list-msg Never mind I found...
                    .box-footer
                      form(action='#', method='post')
                        .input-group
                          input.form-control(type='text', name='message', placeholder='Type Message ...')
                          span.input-group-btn
                            button.btn.btn-warning.btn-flat(type='button') Send
                .col-md-6
                  .box.box-danger
                    .box-header.with-border
                      h3.box-title Latest Members
                      .box-tools.pull-right
                        span.label.label-danger 8 New Members
                        button.btn.btn-box-tool(type='button', data-widget='collapse')
                          i.fa.fa-minus
                        button.btn.btn-box-tool(type='button', data-widget='remove')
                          i.fa.fa-times
                    .box-body.no-padding
                      ul.users-list.clearfix
                        li
                          img(src='dist/img/user1-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Alexander Pierce
                          span.users-list-date Today
                        li
                          img(src='dist/img/user8-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Norman
                          span.users-list-date Yesterday
                        li
                          img(src='dist/img/user7-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Jane
                          span.users-list-date 12 Jan
                        li
                          img(src='dist/img/user6-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') John
                          span.users-list-date 12 Jan
                        li
                          img(src='dist/img/user2-160x160.jpg', alt='User Image')
                          a.users-list-name(href='#') Alexander
                          span.users-list-date 13 Jan
                        li
                          img(src='dist/img/user5-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Sarah
                          span.users-list-date 14 Jan
                        li
                          img(src='dist/img/user4-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Nora
                          span.users-list-date 15 Jan
                        li
                          img(src='dist/img/user3-128x128.jpg', alt='User Image')
                          a.users-list-name(href='#') Nadia
                          span.users-list-date 15 Jan
                    .box-footer.text-center
                      a.uppercase(href='javascript:void(0)') View All Users
              .box.box-info
                .box-header.with-border
                  h3.box-title Latest Orders
                  .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                      i.fa.fa-minus
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                      i.fa.fa-times
                .box-body
                  .table-responsive
                    table.table.no-margin
                      thead
                        tr
                          th Order ID
                          th Item
                          th Status
                          th Popularity
                      tbody
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR9842
                          td Call of Duty IV
                          td
                            span.label.label-success Shipped
                          td
                            .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR1848
                          td Samsung Smart TV
                          td
                            span.label.label-warning Pending
                          td
                            .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR7429
                          td iPhone 6 Plus
                          td
                            span.label.label-danger Delivered
                          td
                            .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR7429
                          td Samsung Smart TV
                          td
                            span.label.label-info Processing
                          td
                            .sparkbar(data-color='#00c0ef', data-height='20') 90,80,-90,70,-61,83,63
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR1848
                          td Samsung Smart TV
                          td
                            span.label.label-warning Pending
                          td
                            .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR7429
                          td iPhone 6 Plus
                          td
                            span.label.label-danger Delivered
                          td
                            .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
                        tr
                          td
                            a(href='pages/examples/invoice.html') OR9842
                          td Call of Duty IV
                          td
                            span.label.label-success Shipped
                          td
                            .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
                .box-footer.clearfix
                  a.btn.btn-sm.btn-info.btn-flat.pull-left(href='javascript:void(0)') Place New Order
                  a.btn.btn-sm.btn-default.btn-flat.pull-right(href='javascript:void(0)') View All Orders
            .col-md-4
              .info-box.bg-yellow
                span.info-box-icon
                  i.ion.ion-ios-pricetag-outline
                .info-box-content
                  span.info-box-text Inventory
                  span.info-box-number 5,200
                  .progress
                    .progress-bar(style='width: 50%')
                  span.progress-description 50% Increase in 30 Days
              .info-box.bg-green
                span.info-box-icon
                  i.ion.ion-ios-heart-outline
                .info-box-content
                  span.info-box-text Mentions
                  span.info-box-number 92,050
                  .progress
                    .progress-bar(style='width: 20%')
                  span.progress-description 20% Increase in 30 Days
              .info-box.bg-red
                span.info-box-icon
                  i.ion.ion-ios-cloud-download-outline
                .info-box-content
                  span.info-box-text Downloads
                  span.info-box-number 114,381
                  .progress
                    .progress-bar(style='width: 70%')
                  span.progress-description 70% Increase in 30 Days
              .info-box.bg-aqua
                span.info-box-icon
                  i.ion-ios-chatbubble-outline
                .info-box-content
                  span.info-box-text Direct Messages
                  span.info-box-number 163,921
                  .progress
                    .progress-bar(style='width: 40%')
                  span.progress-description 40% Increase in 30 Days
              .box.box-default
                .box-header.with-border
                  h3.box-title Browser Usage
                  .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                      i.fa.fa-minus
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                      i.fa.fa-times
                .box-body
                  .row
                    .col-md-8
                      .chart-responsive
                        canvas(style='', height='150')#pieChart
                    .col-md-4
                      ul.chart-legend.clearfix
                        li
                          i.fa.fa-circle-o.text-red
                          |  Chrome
                        li
                          i.fa.fa-circle-o.text-green
                          |  IE
                        li
                          i.fa.fa-circle-o.text-yellow
                          |  FireFox
                        li
                          i.fa.fa-circle-o.text-aqua
                          |  Safari
                        li
                          i.fa.fa-circle-o.text-light-blue
                          |  Opera
                        li
                          i.fa.fa-circle-o.text-gray
                          |  Navigator
                .box-footer.no-padding
                  ul.nav.nav-pills.nav-stacked
                    li
                      a(href='#')
                        | United States of America
                        span.pull-right.text-red
                          i.fa.fa-angle-down
                          |  12%
                    li
                      a(href='#')
                        | India
                        span.pull-right.text-green
                          i.fa.fa-angle-up
                          |  4%
                    li
                      a(href='#')
                        | China
                        span.pull-right.text-yellow
                          i.fa.fa-angle-left
                          |  0%
              .box.box-primary
                .box-header.with-border
                  h3.box-title Recently Added Products
                  .box-tools.pull-right
                    button.btn.btn-box-tool(type='button', data-widget='collapse')
                      i.fa.fa-minus
                    button.btn.btn-box-tool(type='button', data-widget='remove')
                      i.fa.fa-times
                .box-body
                  ul.products-list.product-list-in-box
                    li.item
                      .product-img
                        img(src='dist/img/default-50x50.gif', alt='Product Image')
                      .product-info
                        a.product-title(href='javascript:void(0)')
                          | Samsung TV
                          span.label.label-warning.pull-right $1800
                        span.product-description Samsung 32&quot; 1080p 60Hz LED Smart HDTV.
                    li.item
                      .product-img
                        img(src='dist/img/default-50x50.gif', alt='Product Image')
                      .product-info
                        a.product-title(href='javascript:void(0)')
                          | Bicycle
                          span.label.label-info.pull-right $700
                        span.product-description 26&quot; Mongoose Dolomite Men&apos;s 7-speed, Navy Blue.
                    li.item
                      .product-img
                        img(src='dist/img/default-50x50.gif', alt='Product Image')
                      .product-info
                        a.product-title(href='javascript:void(0)')
                          | Xbox One
                          span.label.label-danger.pull-right $350
                        span.product-description Xbox One Console Bundle with Halo Master Chief Collection.
                    li.item
                      .product-img
                        img(src='dist/img/default-50x50.gif', alt='Product Image')
                      .product-info
                        a.product-title(href='javascript:void(0)')
                          | PlayStation 4
                          span.label.label-success.pull-right $399
                        span.product-description PlayStation 4 500GB Console (PS4)
                .box-footer.text-center
                  a.uppercase(href='javascript:void(0)') View All Products
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.6
        strong
          | Copyright &copy; 2014-2016
          a(href='http://almsaeedstudio.com') Almsaeed Studio
          | . All rights reserved.
      aside.control-sidebar.control-sidebar-dark
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
              i.fa.fa-home
          li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
              i.fa.fa-gears
        .tab-content
          #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    h4.control-sidebar-subheading Langdon&apos;s Birthday
                    p Will be 23 on April 24th
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading Frodo Updated His Profile
                    p New phone +1(800)555-1234
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-envelope-o.bg-light-blue
                  .menu-info
                    h4.control-sidebar-subheading Nora Joined Mailing List
                    p nora@example.com
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-file-code-o.bg-green
                  .menu-info
                    h4.control-sidebar-subheading Cron Job 254 Executed
                    p Execution time 5 seconds
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Custom Template Design
                    span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger(style='width: 70%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Update Resume
                    span.label.label-success.pull-right 95%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-success(style='width: 95%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Laravel Integration
                    span.label.label-warning.pull-right 50%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-warning(style='width: 50%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Back End Framework
                    span.label.label-primary.pull-right 68%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-primary(style='width: 68%')
          #control-sidebar-settings-tab.tab-pane
            form(method='post')
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Report panel usage
                  input.pull-right(type='checkbox', checked='')
                p  Some information about this general settings option
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type='checkbox', checked='')
                p  Other sets of options are available
              .form-group
                label.control-sidebar-subheading
                  | Expose author name in posts
                  input.pull-right(type='checkbox', checked='')
                p  Allow the user to show his name in blog posts
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type='checkbox', checked='')
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type='checkbox')
              .form-group
                label.control-sidebar-subheading
                  | Delete chat history
                  a.text-red.pull-right(href='javascript:void(0)')
                    i.fa.fa-trash-o
      .control-sidebar-bg
    script(src='plugins/jQuery/jquery-2.2.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='plugins/fastclick/fastclick.js')
    script(src='dist/js/app.min.js')
    script(src='plugins/sparkline/jquery.sparkline.min.js')
    script(src='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
    script(src='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
    script(src='plugins/slimScroll/jquery.slimscroll.min.js')
    script(src='plugins/chartjs/Chart.min.js')
    script(src='dist/js/pages/dashboard2.js')
    script(src='dist/js/demo.js')
