section.sidebar
  .user-panel
    block user-panel
      .pull-left.image
        img.img-circle(src='dist/img/user2-160x160.jpg', alt='User Image')
      .pull-left.info
        p Alexander Pierce
        a(href='#')
          i.fa.fa-circle.text-success
          | &nbsp;Online
  form.sidebar-form(action='#', method='get')
    .input-group
      input.form-control(type='text', name='q', placeholder='Search...')
      span.input-group-btn
        button#search-btn.btn.btn-flat(type='submit', name='search')
          i.fa.fa-search
  ul.sidebar-menu
    li.header MAIN NAVIGATION
    li.active.treeview
      a(href='#')
        i.fa.fa-dashboard
        span &nbsp;Dashboard
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='index.html')
            i.fa.fa-circle-o
            | &nbsp;Dashboard v1
        li.active
          a(href='index2.html')
            i.fa.fa-circle-o
            | &nbsp;Dashboard v2
    li.treeview
      a(href='#')
        i.fa.fa-files-o
        span &nbsp;Layout Options
        span.pull-right-container
          span.label.label-primary.pull-right 4
      ul.treeview-menu
        li
          a(href='pages/layout/top-nav.html')
            i.fa.fa-circle-o
            | &nbsp;Top Navigation
        li
          a(href='pages/layout/boxed.html')
            i.fa.fa-circle-o
            | &nbsp;Boxed
        li
          a(href='pages/layout/fixed.html')
            i.fa.fa-circle-o
            | &nbsp;Fixed
        li
          a(href='pages/layout/collapsed-sidebar.html')
            i.fa.fa-circle-o
            | &nbsp;Collapsed Sidebar
    li
      a(href='pages/widgets.html')
        i.fa.fa-th
        span &nbsp;Widgets
        span.pull-right-container
          small.label.pull-right.bg-green new
    li.treeview
      a(href='#')
        i.fa.fa-pie-chart
        span &nbsp;Charts
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='pages/charts/chartjs.html')
            i.fa.fa-circle-o
            | &nbsp;ChartJS
        li
          a(href='pages/charts/morris.html')
            i.fa.fa-circle-o
            | &nbsp;Morris
        li
          a(href='pages/charts/flot.html')
            i.fa.fa-circle-o
            | &nbsp;Flot
        li
          a(href='pages/charts/inline.html')
            i.fa.fa-circle-o
            | &nbsp;Inline charts
    li.treeview
      a(href='#')
        i.fa.fa-laptop
        span &nbsp;UI Elements
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='pages/UI/general.html')
            i.fa.fa-circle-o
            | &nbsp;General
        li
          a(href='pages/UI/icons.html')
            i.fa.fa-circle-o
            | &nbsp;Icons
        li
          a(href='pages/UI/buttons.html')
            i.fa.fa-circle-o
            | &nbsp;Buttons
        li
          a(href='pages/UI/sliders.html')
            i.fa.fa-circle-o
            | &nbsp;Sliders
        li
          a(href='pages/UI/timeline.html')
            i.fa.fa-circle-o
            | &nbsp;Timeline
        li
          a(href='pages/UI/modals.html')
            i.fa.fa-circle-o
            | &nbsp;Modals
    li.treeview
      a(href='#')
        i.fa.fa-edit
        span &nbsp;Forms
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='pages/forms/general.html')
            i.fa.fa-circle-o
            | &nbsp;General Elements
        li
          a(href='pages/forms/advanced.html')
            i.fa.fa-circle-o
            | &nbsp;Advanced Elements
        li
          a(href='pages/forms/editors.html')
            i.fa.fa-circle-o
            | &nbsp;Editors
    li.treeview
      a(href='#')
        i.fa.fa-table
        span &nbsp;Tables
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='pages/tables/simple.html')
            i.fa.fa-circle-o
            | &nbsp;Simple tables
        li
          a(href='pages/tables/data.html')
            i.fa.fa-circle-o
            | &nbsp;Data tables
    li
      a(href='pages/calendar.html')
        i.fa.fa-calendar
        span &nbsp;Calendar
        span.pull-right-container
          small.label.pull-right.bg-red 3
          small.label.pull-right.bg-blue 17
    li
      a(href='pages/mailbox/mailbox.html')
        i.fa.fa-envelope
        span &nbsp;Mailbox
        span.pull-right-container
          small.label.pull-right.bg-yellow 12
          small.label.pull-right.bg-green 16
          small.label.pull-right.bg-red 5
    li.treeview
      a(href='#')
        i.fa.fa-folder
        span &nbsp;Examples
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='pages/examples/invoice.html')
            i.fa.fa-circle-o
            | &nbsp;Invoice
        li
          a(href='pages/examples/profile.html')
            i.fa.fa-circle-o
            | &nbsp;Profile
        li
          a(href='pages/examples/login.html')
            i.fa.fa-circle-o
            | &nbsp;Login
        li
          a(href='pages/examples/register.html')
            i.fa.fa-circle-o
            | &nbsp;Register
        li
          a(href='pages/examples/lockscreen.html')
            i.fa.fa-circle-o
            | &nbsp;Lockscreen
        li
          a(href='pages/examples/404.html')
            i.fa.fa-circle-o
            | &nbsp;404 Error
        li
          a(href='pages/examples/500.html')
            i.fa.fa-circle-o
            | &nbsp;500 Error
        li
          a(href='pages/examples/blank.html')
            i.fa.fa-circle-o
            | &nbsp;Blank Page
        li
          a(href='pages/examples/pace.html')
            i.fa.fa-circle-o
            | &nbsp;Pace Page
    li.treeview
      a(href='#')
        i.fa.fa-share
        span &nbsp;Multilevel
        span.pull-right-container
          i.fa.fa-angle-left.pull-right
      ul.treeview-menu
        li
          a(href='#')
            i.fa.fa-circle-o
            | &nbsp;Level One
        li
          a(href='#')
            i.fa.fa-circle-o
            | &nbsp;Level One
            span.pull-right-container
              i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            li
              a(href='#')
                i.fa.fa-circle-o
                | &nbsp;Level Two
            li
              a(href='#')
                i.fa.fa-circle-o
                | &nbsp;Level Two
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='#')
                    i.fa.fa-circle-o
                    | &nbsp;Level Three
                li
                  a(href='#')
                    i.fa.fa-circle-o
                    | &nbsp;Level Three
        li
          a(href='#')
            i.fa.fa-circle-o
            | &nbsp;Level One
    li
      a(href='documentation/index.html')
        i.fa.fa-book
        span &nbsp;Documentation
    li.header LABELS
    li
      a(href='#')
        i.fa.fa-circle-o.text-red
        span &nbsp;Important
    li
      a(href='#')
        i.fa.fa-circle-o.text-yellow
        span &nbsp;Warning
    li
      a(href='#')
        i.fa.fa-circle-o.text-aqua
        span &nbsp;Information