doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Colombo TV| Calendar
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // fullCalendar 2.2.5
    link(rel='stylesheet', href='../plugins/fullcalendar/fullcalendar.min.css')
    link(rel='stylesheet', href='../plugins/fullcalendar/fullcalendar.print.css', media='print')
    // Theme style
    link(rel='stylesheet', href='../dist/css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='../dist/css/skins/_all-skins.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
      script(src='https://cdn.firebase.com/js/client/2.4.2/firebase.js')
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      header.main-header
        a.logo(href='index2.html')
          span.logo-mini
            b C
            | TV
          span.logo-lg
            b Colombo
            | TV
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src=profileImage, alt='User Image')
                  span.hidden-xs= username
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src=profileImage, alt='User Image')
                    p= username
                      small logged in for some time #{app}
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='logout') Sign out
              li
                //a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      aside.main-sidebar
        include sidebar.pug
      script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
      // Content Wrapper. Contains page content
      .content-wrapper
        block content-header
          // Content Header (Page header)
          // ---------------------------------------------------------------------------------------------
          section.content-header
            h1
              | Calendar
              small
            ol.breadcrumb
              // <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              li.active Calendar
        block content
          // Main content
          section.content
            .row
              .col-md-3
                .box.box-solid
                  .box-header.with-border
                    h4.box-title Draggable Events
                  .box-body
                    // the events
                    #external-events
                      .checkbox
                        label(for='drop-remove')
                          input#drop-remove(type='checkbox')
                          |                     remove after drop
                  // /.box-body
                // /. box
                .box.box-solid
                  .box-header.with-border
                    h3.box-title Create Event
                  .box-body
                    .btn-group(style='width: 100%; margin-bottom: 10px;')
                      // <button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>
                      ul#color-chooser.fc-color-picker
                        li
                          a.text-aqua(href='#')
                            i.fa.fa-square
                        li
                          a.text-blue(href='#')
                            i.fa.fa-square
                        li
                          a.text-light-blue(href='#')
                            i.fa.fa-square
                        li
                          a.text-teal(href='#')
                            i.fa.fa-square
                        li
                          a.text-yellow(href='#')
                            i.fa.fa-square
                        li
                          a.text-orange(href='#')
                            i.fa.fa-square
                        li
                          a.text-green(href='#')
                            i.fa.fa-square
                        li
                          a.text-lime(href='#')
                            i.fa.fa-square
                        li
                          a.text-red(href='#')
                            i.fa.fa-square
                        li
                          a.text-purple(href='#')
                            i.fa.fa-square
                        li
                          a.text-fuchsia(href='#')
                            i.fa.fa-square
                        li
                          a.text-muted(href='#')
                            i.fa.fa-square
                        li
                          a.text-navy(href='#')
                            i.fa.fa-square
                    // /btn-group
                    .input-group
                      input#new-event.form-control(type='text', placeholder='Event Title')
                      .input-group-btn
                        button#add-new-event.btn.btn-primary.btn-flat(type='button') Add
                      // /btn-group
                    // /input-group
              // /.col
              .col-md-9
                .box.box-primary
                  .box-body.no-padding
                    // THE CALENDAR
                    #calendar
                    button#remove.btn Remove events
                    button#reload.btn Reload
                  // /.box-body
                // /. box
              // /.col
            // /.row
          // /.content
      // /.content-wrapper
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.6
        strong
          | Copyright &copy; 2014-2016
          a(href='http://almsaeedstudio.com') Theme by Almsaeed Studio
          | . All rights reserved.
      // Control Sidebar
      //aside.control-sidebar.control-sidebar-dark
        // Create the tabs
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
              i.fa.fa-home
          li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
              i.fa.fa-gears
        // Tab panes
      // /.control-sidebar
      //
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
    // ./wrapper
    // jQuery 2.2.3
    script(src='../plugins/jQuery/jquery-2.2.3.min.js')
    // Bootstrap 3.3.6
    script(src='../bootstrap/js/bootstrap.min.js')
    // jQuery UI 1.11.4
    script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    // Slimscroll
    script(src='../plugins/slimScroll/jquery.slimscroll.min.js')
    // FastClick
    script(src='../plugins/fastclick/fastclick.js')
    // AdminLTE App
    script(src='../dist/js/app.min.js')
    // AdminLTE for demo purposes
    script(src='../dist/js/demo.js')
    // fullCalendar 2.2.5
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js')
    script(src='../plugins/fullcalendar/fullcalendar.min.js')
    // Page specific script
    script.
     $(function () {

               /* initialize the external events
                -----------------------------------------------------------------*/
               function ini_events(ele) {

                 ele.each(function () {

                   // create an Event Object
                   // it doesn't need to have a start or end
                   var eventObject = {
                     title: $.trim($(this).text()) // use the element's text as the event title//
                   };

                   // store the Event Object in the DOM element so we can get to it later
                   $(this).data('eventObject', eventObject);

                   //make the event draggable using jQuery UI
                   $(this).draggable({
                     zIndex: 1070,
                     revert: true, // will cause the event to go back to its
                     revertDuration: 0  //  original position after the drag
                   });

                 });
               }

               ini_events($('#external-events div.external-event'));//loading JSON data with external JavaScript to div id

               /* initialize the calendar
                -----------------------------------------------------------------*/
               //Date for the calendar events
               var date = new Date();
               var d = date.getDate(),
                       m = date.getMonth(),
                       y = date.getFullYear();

               $('#calendar').fullCalendar({
                 header: {
                   left: 'prev,next today',
                   center: 'title',
                   right: 'month,agendaWeek,agendaDay'
                 },
                 buttonText: {
                   today: 'today',
                   month: 'month',
                   week: 'week',
                   day: 'day'
                 },
                 //Random default events
                 events: [

                   { id:1,
                     title: 'All Day Event',
                     start: new Date(y, m, 1),
                     backgroundColor: "#f56954", //red
                     borderColor: "#f56954" //red
                   },

                   { id:2,
                     title: 'All Day Event',
                     start: new Date(y, m, 1),
                     backgroundColor: "#f56954", //red
                     borderColor: "#f56954" //red
                   },
                   {
                     id:3,
                     title: 'Long Event',
                     start: new Date(y, m, d - 5),
                     end: new Date(y, m, d - 2),
                     backgroundColor: "#f39c12", //yellow
                     borderColor: "#f39c12" //yellow
                   },
                   { id:4,
                     title: 'Meeting',
                     start: new Date(y, m, d, 10, 30),
                     allDay: false,
                     backgroundColor: "#0073b7", //Blue
                     borderColor: "#0073b7" //Blue
                   },
                   { id:5,
                     title: 'Lunch',
                     start: new Date(y, m, d, 12, 0),
                     end: new Date(y, m, d, 14, 0),
                     allDay: false,
                     backgroundColor: "#00c0ef", //Info (aqua)
                     borderColor: "#00c0ef" //Info (aqua)
                   },
                   { id:6,
                     title: 'Birthday Party',
                     start: new Date(y, m, d + 1, 19, 0),
                     end: new Date(y, m, d + 1, 22, 30),
                     allDay: false,
                     backgroundColor: "#00a65a", //Success (green)
                     borderColor: "#00a65a" //Success (green)
                   },
                   { id:7,
                     title: 'Click for Google',
                     start: new Date(y, m, 28),
                     end: new Date(y, m, 29),
                     url: 'http://google.com/',
                     backgroundColor: "#3c8dbc", //Primary (light-blue)
                     borderColor: "#3c8dbc" //Primary (light-blue)
                   }

                 ],

                 editable: true,
                 droppable: true, // this allows things to be dropped onto the calendar !!!
                 drop: function (date, allDay) { // this function is called when something is dropped


                   // retrieve the dropped element's stored Event Object
                   var originalEventObject = $(this).data('eventObject');

                   // we need to copy it, so that multiple events don't have a reference to the same object
                   var copiedEventObject = $.extend({}, originalEventObject);
                   //console.log(copiedEventObject);

                   // assign it the date that was reported
                   copiedEventObject.start = date;
                   //console.log(  copiedEventObject.start);

                   copiedEventObject.allDay = allDay;
                   // console.log( copiedEventObject.allDay);

                   copiedEventObject.backgroundColor = $(this).css("background-color");
                   copiedEventObject.borderColor = $(this).css("border-color");


                   // render the event on the calendar
                   // the last `true` argument determines if the event "sticks" )
                   $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);



                   //====================================================================================
                   // remove after drop" checkbox checked

                   if ($('#drop-remove').is(':checked')) {
                     // if so, remove the element from the "Draggable Events" list
                     $(this).remove();
                   }

                   //get event title from obj
                   var title=originalEventObject.title;
                   var eventDate=date._d.getDate() + '/' + (date._d.getMonth()+1) + '/' + date._d.getFullYear();
                   var ref = new Firebase("https://scorching-inferno-3591.firebaseio.com/calendar_events");
                   ref.push({e_title: title, date: eventDate});//passing to firebase

                 },
                 eventClick: function(event, element) {
                   var person = prompt("change new event title", event.title);

                   if (person != null) {

                     var ref = new Firebase("https://scorching-inferno-3591.firebaseio.com/calendar_events");
                     ref.orderByChild("e_title").equalTo(event.title).once("child_added", function(snapshot) {
                       var value=snapshot.key();
                       ref.child(value).update({"e_title": person});//passing to firebase

                     });
                     event.title=person;
                   }


                   $('#calendar').fullCalendar('updateEvent', event);



                 },

                 //  dayClick: function(date,jsEvent) {
                 //  prompt("change new event title", event.title);
                 // var x;
                 //if (confirm("Do you want to remove!") == true) {
                 //  $('#calendar').fullCalendar('removeEvents',event.i);
                 // }



                 // change the day's background color just for fun


                 //}

               });

               $('#remove').click(function() {
                 $('#calendar').fullCalendar('removeEvents');
               });


               $('#reload').click(function() {
                 // Change an event first
                 //  events[0].title = 'The modified event';
                 $('#calendar').fullCalendar('refetchEvents');
               });

           //=============================================================================================
               /* ADDING EVENTS */
               var currColor = "#3c8dbc"; //Red by default
               //Color chooser button
               var colorChooser = $("#color-chooser-btn");

               $("#color-chooser > li > a").click(function (e) {
                 e.preventDefault();

                 //Save color
                 currColor = $(this).css("color");

                 //Add color effect to button
                 $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
               });


               $("#add-new-event").click(function (e) {
                 e.preventDefault();

                 //Get value and make sure it is not null
                 var val = $("#new-event").val();

                 if (val.length == 0) {
                   return;
                 }
                 else {
                   //create events and view
                   var ref = new Firebase("https://scorching-inferno-3591.firebaseio.com/events");
                   var todaydate = date.getDate();
                   var event_id = Math.floor(Math.random() * 26) + Date.now();
                   ref.push({Title: val, Date: todaydate, event_ID: event_id});

                   ref.orderByChild("event_ID").equalTo("event_id").on("child_added", function (snapshot) {
                     var me = snapshot.val();

                     var event = $("<div />");
                     event.css({
                       "background-color": currColor,
                       "border-color": currColor,
                       "color": "#fff"
                     }).addClass("external-event");
                     event.html(me.Title);

                     $('#external-events').prepend(event);//add above and above events




                     ini_events(event);//passing to draggable function

                     $("#new-event").val(" ");//clear text



                   }, function (errorObject) {
                     console.log("The read failed: " + errorObject.code);
                   });

                 }
               });
           /////////////////////////////////////////////////////////////////
               $("#external-events").click(function() {
                 $("#text-edit").val($("#external-events").val());
                 $("#edit-popup").dialog({
                   height: 400,
                   width: 600,
                   modal: true,
                   buttons: {
                     "Close": function () {
                       $("#external-events").val($("#text-edit").val());
                       $(this).dialog("close");
                     }
                   }
                 });
               });
           ////////////////////////////////////////////////////////////////////
               //load data to view
               var refe = new Firebase("https://scorching-inferno-3591.firebaseio.com/events");

               refe.on("child_added", function (snapshot) {
                 var me = snapshot.val();
                 //console.log(me.Title);

                 var event = $("<div />");
                 event.css({
                   "background-color": currColor,
                   "border-color": currColor,
                   "color": "#fff"
                 }).addClass("external-event");
                 event.html(me.Title);

                 $('#external-events').prepend(event);//add above and above events
                 ini_events(event);
                 $("#new-event").val(" ");

                 // executes when complete page is fully loaded, including all frames, objects and images


               }, function (errorObject) {
                 console.log("The read failed: " + errorObject.code);
               });




        });