doctype html
html
	head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title= title
	meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
	link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
	link(rel='stylesheet', href='plugins/jvectormap/jquery-jvectormap-1.2.2.css')
	link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
	link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
	//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		block content
			.content-wrapper
				.content.col-lg-11.col-md-11.col-sm-11.col-xs-12
					.box
						h1.box-header= message
						h2.box-body= error.status
						.box-footer
								pre #{error.stack}
