doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CTV | Admin Dashboard
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='plugins/jvectormap/jquery-jvectormap-1.2.2.css')
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      header.main-header
        a.logo(href='index2.html')
          span.logo-mini
            b C
            | TV
          span.logo-lg
            b Colombo
            | TV
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src=profileImage, alt='User Image')
                  span.hidden-xs= username
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src=profileImage, alt='User Image')
                    p= username
                      small Logged in
                  li.user-footer
                    //.pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='logout') Sign out
              li
                //a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      aside.main-sidebar
        include sidebar.pug
      .content-wrapper
        block content-header
          section.content-header
            h1
              | Dashboard
              small Version 2.0
            ol.breadcrumb
              li
                a(href='#')
                  i.fa.fa-dashboard
                  |  Home&nbsp;
              li.active Dashboard
        block content
          section.content
            .row
              .col-md-3.col-sm-6.col-xs-12
                .info-box
                  span.info-box-icon.bg-aqua
                    i.fa.fa-clock-o
                  .info-box-content
                    span.info-box-text Average Session Duration
                    span.info-box-number#avg-session-dur
                      | 90
                      small %
              .col-md-3.col-sm-6.col-xs-12
                .info-box
                  span.info-box-icon.bg-red
                    i.fa.fa-user
                  .info-box-content
                    span.info-box-text Active Users
                    span.info-box-number#active-users-container
                    span#active-user-graph
                      canvas(style='display: inline-block; width: 60px; height: 18px; vertical-align: top;', width='60', height='18')
              .clearfix.visible-sm-block
              .col-md-3.col-sm-6.col-xs-12
                .info-box
                  span.info-box-icon.bg-yellow
                    i.ion.ion-ios-people-outline
                  .info-box-content
                    span.info-box-text Total Members
                    span.info-box-number= noOfUsers
              .col-md-3.col-sm-6.col-xs-12
                .info-box
                  span.info-box-icon.bg-yellow
                    i.ion.ion-ios-people-outline
                  .info-box-content
                    span.info-box-text Analytics Account
                    span.info-box-number#auth-button
              //section#auth-button auth-button
              section#view-selector.hidden view-selector
              //section#timeline
            .row
              .col-md-12
                .box
                  .box-header.with-border
                    h3.box-title User Activity Report
                    .box-tools.pull-right
                      button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                      .btn-group
                        button.btn.btn-box-tool.dropdown-toggle(type='button', data-toggle='dropdown')
                          i.fa.fa-wrench
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Weekly
                          li
                            a(href='#') Monthly
                      button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
                  .box-body
                    .row
                      .col-md-12
                        section#timeline(width='100%', height='100%')
                        //p.text-center
                          strong Activity: 1 Jan, 2014 - 30 Jul, 2014
                        .chart
                          canvas(style='height: 180px;')#salesChart
            .row
              .col-md-8.col-sm-12
                .box.box-success
                  .box-header.with-border
                    h3.box-title Visitors Report
                    .box-tools.pull-right
                      button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                      button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
                  .box-body.no-padding
                    .row
                      .pad
                        #world-map-markers(style='height: 325px;')
                .row
                  //.col-md-6
                    .box.box-warning.direct-chat.direct-chat-warning
                      .box-header.with-border
                        h3.box-title Public Chat
                        .box-tools.pull-right
                          span.badge.bg-yellow(data-toggle='tooltip', title='3 New Messages') 3
                          button.btn.btn-box-tool(type='button', data-widget='collapse')
                            i.fa.fa-minus
                          button.btn.btn-box-tool(type='button', data-toggle='tooltip', title='Contacts', data-widget='chat-pane-toggle')
                            i.fa.fa-comments
                          button.btn.btn-box-tool(type='button', data-widget='remove')
                            i.fa.fa-times
                      .box-body
                        .direct-chat-messages
                          .direct-chat-msg
                            .direct-chat-info.clearfix
                              span.direct-chat-name.pull-left Alexander Pierce
                              span.direct-chat-timestamp.pull-right 23 Jan 2:00 pm
                            img.direct-chat-img(src='dist/img/user1-128x128.jpg', alt='message user image')
                            .direct-chat-text  Is this template really for free? That&apos;s unbelievable!
                          .direct-chat-msg.right
                            .direct-chat-info.clearfix
                              span.direct-chat-name.pull-right Sarah Bullock
                              span.direct-chat-timestamp.pull-left 23 Jan 2:05 pm
                            img.direct-chat-img(src='dist/img/user3-128x128.jpg', alt='message user image')
                            .direct-chat-text  You better believe it!
                          .direct-chat-msg
                            .direct-chat-info.clearfix
                              span.direct-chat-name.pull-left Alexander Pierce
                              span.direct-chat-timestamp.pull-right 23 Jan 5:37 pm
                            img.direct-chat-img(src='dist/img/user1-128x128.jpg', alt='message user image')
                            .direct-chat-text  Working with AdminLTE on a great new app! Wanna join?
                          .direct-chat-msg.right
                            .direct-chat-info.clearfix
                              span.direct-chat-name.pull-right Sarah Bullock
                              span.direct-chat-timestamp.pull-left 23 Jan 6:10 pm
                            img.direct-chat-img(src='dist/img/user3-128x128.jpg', alt='message user image')
                            .direct-chat-text  I would love to.
                        .direct-chat-contacts
                          ul.contacts-list
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user1-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | Count Dracula
                                    small.contacts-list-date.pull-right 2/28/2015
                                  span.contacts-list-msg How have you been? I was...
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user7-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | Sarah Doe
                                    small.contacts-list-date.pull-right 2/23/2015
                                  span.contacts-list-msg I will be waiting for...
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user3-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | Nadia Jolie
                                    small.contacts-list-date.pull-right 2/20/2015
                                  span.contacts-list-msg I&apos;ll call you back at...
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user5-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | Nora S. Vans
                                    small.contacts-list-date.pull-right 2/10/2015
                                  span.contacts-list-msg Where is your new...
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user6-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | John K.
                                    small.contacts-list-date.pull-right 1/27/2015
                                  span.contacts-list-msg Can I take a look at...
                            li
                              a(href='#')
                                img.contacts-list-img(src='dist/img/user8-128x128.jpg', alt='User Image')
                                .contacts-list-info
                                  span.contacts-list-name
                                    | Kenneth M.
                                    small.contacts-list-date.pull-right 1/4/2015
                                  span.contacts-list-msg Never mind I found...
                      .box-footer
                        form(action='#', method='post')
                          .input-group
                            input.form-control(type='text', name='message', placeholder='Type Message ...')
                            span.input-group-btn
                              button.btn.btn-warning.btn-flat(type='button') Send
                  //.col-md-6
                    .box.box-danger
                      .box-header.with-border
                        h3.box-title Latest Members
                        .box-tools.pull-right
                          span.label.label-danger 8 New Members
                          button.btn.btn-box-tool(type='button', data-widget='collapse')
                            i.fa.fa-minus
                          button.btn.btn-box-tool(type='button', data-widget='remove')
                            i.fa.fa-times
                      .box-body.no-padding
                        ul.users-list.clearfix
                          li
                            img(src='dist/img/user1-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Alexander Pierce
                            span.users-list-date Today
                          li
                            img(src='dist/img/user8-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Norman
                            span.users-list-date Yesterday
                          li
                            img(src='dist/img/user7-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Jane
                            span.users-list-date 12 Jan
                          li
                            img(src='dist/img/user6-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') John
                            span.users-list-date 12 Jan
                          li
                            img(src='dist/img/user2-160x160.jpg', alt='User Image')
                            a.users-list-name(href='#') Alexander
                            span.users-list-date 13 Jan
                          li
                            img(src='dist/img/user5-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Sarah
                            span.users-list-date 14 Jan
                          li
                            img(src='dist/img/user4-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Nora
                            span.users-list-date 15 Jan
                          li
                            img(src='dist/img/user3-128x128.jpg', alt='User Image')
                            a.users-list-name(href='#') Nadia
                            span.users-list-date 15 Jan
                      .box-footer.text-center
                        a.uppercase(href='javascript:void(0)') View All Users
                //.box.box-info
                  .box-header.with-border
                    h3.box-title Latest Orders
                    .box-tools.pull-right
                      button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                      button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
                  .box-body
                    .table-responsive
                      table.table.no-margin
                        thead
                          tr
                            th Order ID
                            th Item
                            th Status
                            th Popularity
                        tbody
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR9842
                            td Call of Duty IV
                            td
                              span.label.label-success Shipped
                            td
                              .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR1848
                            td Samsung Smart TV
                            td
                              span.label.label-warning Pending
                            td
                              .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR7429
                            td iPhone 6 Plus
                            td
                              span.label.label-danger Delivered
                            td
                              .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR7429
                            td Samsung Smart TV
                            td
                              span.label.label-info Processing
                            td
                              .sparkbar(data-color='#00c0ef', data-height='20') 90,80,-90,70,-61,83,63
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR1848
                            td Samsung Smart TV
                            td
                              span.label.label-warning Pending
                            td
                              .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR7429
                            td iPhone 6 Plus
                            td
                              span.label.label-danger Delivered
                            td
                              .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
                          tr
                            td
                              a(href='pages/examples/invoice.html') OR9842
                            td Call of Duty IV
                            td
                              span.label.label-success Shipped
                            td
                              .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
                  .box-footer.clearfix
                    a.btn.btn-sm.btn-info.btn-flat.pull-left(href='javascript:void(0)') Place New Order
                    a.btn.btn-sm.btn-default.btn-flat.pull-right(href='javascript:void(0)') View All Orders
              .col-md-4.col-sm-12
                //.info-box.bg-yellow
                  span.info-box-icon
                    i.ion.ion-ios-pricetag-outline
                  .info-box-content
                    span.info-box-text Inventory
                    span.info-box-number 5,200
                    .progress
                      .progress-bar(style='width: 50%')
                    span.progress-description 50% Increase in 30 Days
                .info-box.bg-red
                  span.info-box-icon
                    i.fa.fa-comments-o
                  .info-box-content
                    span.info-box-text Comments
                    span.info-box-number#comments-span
                      i.fa.fa-refresh.fa-spin
                    //.progress
                      .progress-bar(style='width: 20%')
                    //span.progress-description 20% Increase in 30 Days
                .info-box.bg-green
                  span.info-box-icon
                    i.fa.fa-thumbs-o-up
                  .info-box-content
                    span.info-box-text Likes
                    span.info-box-number#likes-span
                      i.fa.fa-refresh.fa-spin
                    //.progress
                      .progress-bar(style='width: 40%')
                    //span.progress-description 40% Increase in 30 Days
                .info-box.bg-aqua
                  span.info-box-icon
                    i.ion-ios-chatbubble-outline
                  .info-box-content
                    span.info-box-text Direct Messages
                    span.info-box-number#dm-span
                      i.fa.fa-refresh.fa-spin
                    //.progress
                      .progress-bar(style='width: 40%')
                    //span.progress-description 40% Increase in 30 Days
                .box.box-default
                  .box-header.with-border
                    h3.box-title Platform Usage
                    .box-tools.pull-right
                      button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                      button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
                  .box-body
                    .row
                      .col-md-8
                        .chart-responsive
                          canvas(style='', height='150')#pieChart
                      .col-md-4
                        ul.chart-legend.clearfix
                          li
                            i.fa.fa-circle-o.text-red
                            |  iOS
                          li
                            i.fa.fa-circle-o.text-green
                            |  Android
                          li
                            i.fa.fa-circle-o.text-yellow
                            |  Windows
                  .box-footer.no-padding
                    ul.nav.nav-pills.nav-stacked
                      li
                        a(href='#')
                          | Sri Lanka
                          span.pull-right.text-red
                            i.fa.fa-angle-down
                            |  12%
                      li
                        a(href='#')
                          | India
                          span.pull-right.text-green
                            i.fa.fa-angle-up
                            |  4%
                      li
                        a(href='#')
                          | China
                          span.pull-right.text-yellow
                            i.fa.fa-angle-left
                            |  0%
                //.box.box-primary
                  .box-header.with-border
                    h3.box-title Recently Added Products
                    .box-tools.pull-right
                      button.btn.btn-box-tool(type='button', data-widget='collapse')
                        i.fa.fa-minus
                      button.btn.btn-box-tool(type='button', data-widget='remove')
                        i.fa.fa-times
                  .box-body
                    ul.products-list.product-list-in-box
                      li.item
                        .product-img
                          img(src='dist/img/default-50x50.gif', alt='Product Image')
                        .product-info
                          a.product-title(href='javascript:void(0)')
                            | Samsung TV
                            span.label.label-warning.pull-right $1800
                          span.product-description Samsung 32&quot; 1080p 60Hz LED Smart HDTV.
                      li.item
                        .product-img
                          img(src='dist/img/default-50x50.gif', alt='Product Image')
                        .product-info
                          a.product-title(href='javascript:void(0)')
                            | Bicycle
                            span.label.label-info.pull-right $700
                          span.product-description 26&quot; Mongoose Dolomite Men&apos;s 7-speed, Navy Blue.
                      li.item
                        .product-img
                          img(src='dist/img/default-50x50.gif', alt='Product Image')
                        .product-info
                          a.product-title(href='javascript:void(0)')
                            | Xbox One
                            span.label.label-danger.pull-right $350
                          span.product-description Xbox One Console Bundle with Halo Master Chief Collection.
                      li.item
                        .product-img
                          img(src='dist/img/default-50x50.gif', alt='Product Image')
                        .product-info
                          a.product-title(href='javascript:void(0)')
                            | PlayStation 4
                            span.label.label-success.pull-right $399
                          span.product-description PlayStation 4 500GB Console (PS4)
                  .box-footer.text-center
                    a.uppercase(href='javascript:void(0)') View All Products
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.6
        strong
          | Copyright &copy; 2014-2016
          a(href='http://almsaeedstudio.com') Theme by Almsaeed Studio
          | . All rights reserved.
      //aside.control-sidebar.control-sidebar-dark
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
              i.fa.fa-home
          li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
              i.fa.fa-gears
        .tab-content
          #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    h4.control-sidebar-subheading Langdon&apos;s Birthday
                    p Will be 23 on April 24th
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading Frodo Updated His Profile
                    p New phone +1(800)555-1234
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-envelope-o.bg-light-blue
                  .menu-info
                    h4.control-sidebar-subheading Nora Joined Mailing List
                    p nora@example.com
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-file-code-o.bg-green
                  .menu-info
                    h4.control-sidebar-subheading Cron Job 254 Executed
                    p Execution time 5 seconds
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Custom Template Design
                    span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger(style='width: 70%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Update Resume
                    span.label.label-success.pull-right 95%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-success(style='width: 95%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Laravel Integration
                    span.label.label-warning.pull-right 50%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-warning(style='width: 50%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Back End Framework
                    span.label.label-primary.pull-right 68%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-primary(style='width: 68%')
          #control-sidebar-settings-tab.tab-pane
            form(method='post')
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Report panel usage
                  input.pull-right(type='checkbox', checked='')
                p  Some information about this general settings option
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type='checkbox', checked='')
                p  Other sets of options are available
              .form-group
                label.control-sidebar-subheading
                  | Expose author name in posts
                  input.pull-right(type='checkbox', checked='')
                p  Allow the user to show his name in blog posts
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type='checkbox', checked='')
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type='checkbox')
              .form-group
                label.control-sidebar-subheading
                  | Delete chat history
                  a.text-red.pull-right(href='javascript:void(0)')
                    i.fa.fa-trash-o
      .control-sidebar-bg

    script(src='plugins/jQuery/jquery-2.2.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='plugins/fastclick/fastclick.js')
    script(src='dist/js/app.min.js')
    script(src='plugins/sparkline/jquery.sparkline.min.js')
    script(src='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
    script(src='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
    script(src='plugins/slimScroll/jquery.slimscroll.min.js')
    script(src='plugins/chartjs/Chart.min.js')
    script(src='dist/js/pages/dashboard2.js')
    script(src='dist/js/demo.js')

    // Load the analytics library
    script(src='javascripts/analytics.js')
    // Analytics configuration
    script(src='javascripts/embed-api/components/active-users.js')
    script(src='javascripts/dashboard.js')