doctype html
//- Used in header and sidebar
unless username
  - var username = 'Anonymous'
unless profileImage
  - var profileImage = 'images/user_default-160x160.jpg'

html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CTV | Admin Dashboard
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    block stylesheets
      link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
      link(rel='stylesheet', href='plugins/jvectormap/jquery-jvectormap-1.2.2.css')
      link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
      link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      header.main-header
        a.logo(href='index2.html')
          span.logo-mini
            b C
            | TV
          span.logo-lg
            b Colombo
            | TV
        nav.navbar.navbar-static-top
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src=profileImage, alt='User Image')
                  span.hidden-xs= username
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src=profileImage, alt='User Image')
                    p
                      | #{username}
                      small Logged in for 2h 34min
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='#') Sign out
              li
                a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      aside.main-sidebar
        include sidebar.pug
      .content-wrapper
        block content-header
          section.content-header
            h1
              | Title
              small Small text
            ol.breadcrumb
              li
                a(href='/dashboard')
                  i.fa.fa-dashboard
                  |  Previous &nbsp;
              li.active Here
        block content
          section.content
            .row
              .col-lg-4.col-md-5.col-sm-12.col-xs-12
                .callout.callout-info.lead
                  | There is no content here.
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.6
        strong
          | Copyright &copy; 2014-2016
          a(href='http://almsaeedstudio.com') Almsaeed Studio
          | . All rights reserved.
      aside.control-sidebar.control-sidebar-dark
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            form(method='post')
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Real-time Sync
                  input.pull-right(type='checkbox', checked='')
                p  Update info in real-time
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type='checkbox', checked='')
                p  Other sets of options are available
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type='checkbox', checked='')
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type='checkbox')
      .control-sidebar-bg
    block scripts
      script(src='plugins/jQuery/jquery-2.2.3.min.js')
      script(src='bootstrap/js/bootstrap.min.js')
      script(src='plugins/fastclick/fastclick.js')
      script(src='dist/js/app.min.js')
      script(src='plugins/sparkline/jquery.sparkline.min.js')
      script(src='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
      script(src='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
      script(src='plugins/slimScroll/jquery.slimscroll.min.js')
      script(src='plugins/chartjs/Chart.min.js')
      script(src='dist/js/pages/dashboard2.js')
      script(src='dist/js/demo.js')
