doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AdminLTE 2 | Log in
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/dist/css/AdminLTE.min.css')
    // iCheck
    link(rel='stylesheet', href='/plugins/iCheck/square/blue.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.login-page
    .login-box
      .login-logo
        a(href='index2.html')
          b Colombo
          | TV
      // /.login-logo
      .login-box-body
        p.login-box-msg Sign in to start your session
        form(action='login', method='post')
          if (error && (error.code=="INVALID_EMAIL" || error.code=="INVALID_USER"))
            #password-msg.alert-error= message
            .form-group.has-error
              input.form-control(type='email', name='email', placeholder='Email')
              span.glyphicon.glyphicon-envelope.form-control-feedback
          else
            .form-group
              input.form-control(type='email', name='email', placeholder='Email')
              span.glyphicon.glyphicon-envelope.form-control-feedback
          if (error && error.code=="INVALID_PASSWORD")
            #password-msg.alert-error= message
            .form-group.has-feedback.has-error
              input.form-control(type='password', name='password', placeholder='Password')
              span.glyphicon.glyphicon-lock.form-control-feedback
          else
            .form-group.has-feedback
              input.form-control(type='password', name='password', placeholder='Password')
              span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            //
              <div class="col-xs-8">
              <div class="checkbox icheck">
              <label>
              <input type="checkbox" name="remember"> Remember Me
              </label>
              </div>
              </div>
            // /.col
            .col-xs-4
              button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
            // /.col
        // <a href="dashboard">I forgot my password</a><br>
      // /.login-box-body
    // /.login-box
    // jQuery 2.2.3
    script(src='plugins/jQuery/jquery-2.2.3.min.js')
    // Bootstrap 3.3.6
    script(src='bootstrap/js/bootstrap.min.js')
    // iCheck
    script(src='plugins/iCheck/icheck.min.js')
    script.
      $(function () {
      $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
      });
      });
