extends layout.pug

block content-header
  <!-- Content Header (Page header) -->
  section.content-header
    h1
      | Register
      small Register a new membership
    ol.breadcrumb
      li
        a(href='dashboard')
        i.fa.fa-dashboard Dashboard
      li.active
        | Here

block content
  <!-- Main content -->
  section.content
    div.row
     div.col-md-6
      div.box.box-primary
        form(action='register', method='post', role='form')
          div.box-body
            div.form-group.has-feedback
              input.form-control(type='email', placeholder='Email', name='email')
              span.glyphicon.glyphicon-envelope.form-control-feedback
            div.form-group.has-feedback
              input.form-control(type='password', placeholder='Password', name='password')
              span.glyphicon.glyphicon-lock.form-control-feedback
            div.form-group.has-feedback
              input.form-control(type='password', placeholder='Retype password')
              span.glyphicon.glyphicon-log-in.form-control-feedback
            div.row
              div.col-xs-4
                button.btn.btn-primary.btn-block.btn-flat(type='submit') Register