section.sidebar
  .user-panel
    block user-panel
      .pull-left.image
        img.img-circle(src=profileImage, alt='User Image')
      .pull-left.info
        p= username
        a(href='#')
          i.fa.fa-circle.text-success
          | &nbsp;Online
  form.sidebar-form(action='#', method='get')
    //.input-group
      input.form-control(type='text', name='q', placeholder='Search...')
      span.input-group-btn
        button#search-btn.btn.btn-flat(type='submit', name='search')
          i.fa.fa-search
  ul.sidebar-menu
    if (active=='dashboard')
      li.header MAIN NAVIGATION
      li.active.treeview
        a(href='dashboard')
          i.fa.fa-dashboard
          span &nbsp;Dashboard
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
      li.treeview
        a(href='calender')
          i.fa.fa-calendar
          span Calendar
          span.pull-right-container
            //span.label.label-primary.pull-right 4
    else if (active=='calender')
      li.header MAIN NAVIGATION
      li.treeview
        a(href='dashboard')
          i.fa.fa-dashboard
          span &nbsp;Dashboard
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
      li.active.treeview
        a(href='calender')
          i.fa.fa-calendar
          span Calendar
          span.pull-right-container
            //span.label.label-primary.pull-right 4